	<div class="wp100" style="background: #f7f7f7;position: fixed;z-index: 999;">
	    <div id="down" class="mall-up-down down-arrow"></div>
	    <div id="allCont" class="hidden bg_fff">
	        <div class="t_666 ml-top-fl plr16 bg_fff b_bd_b s_12 bg_fff">所有分类</div>
	        <div id="allItem" class="plr16 bg_fff ml-top-item s_12 b_bd_t mt30">
	            <ul class="clearfix t_333">
	            	<li l_type="lType1" class="wp33 tl fl mtb6 current" >全部订单</li>
	            	<li l_type="lType2" class="wp33 tl fl mtb6" >已完成订单</li>
	            </ul>
	        </div>
	        <div id="mall-mask" class="mall-mask"></div>
	    </div>
	    <div id="mallWrapper" class="b_bd_b z_index999">
	        <div id="scroller">
	            <ul>
	            	<li l_type="lType1" class=" current" id="lType1">全部订单</li>
	            	<li l_type="lType2" id="lType2">已完成订单</li>
	            </ul>
	        </div>
	    </div>
	</div>
