.hp44{
	height: 44px;
}
%default-scroll-wrap{
    position: absolute;
    width: 100%;
}
%scrollWrap{
    @extend %default-scroll-wrap;
    bottom: 49px;
}
.scroll-wrapper{
    @extend %scrollWrap;
    top: 45px;
}
.scroll-wrapper.scroll-wrapper1{
	top: 87px;
}
.user-scroll-wrapper{
    @extend %scrollWrap;
    top: 0;
}
.order-scroll-wrapper{
    @extend %default-scroll-wrap;
    top: 40px;
    bottom: 0;
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
  }
}

.pullDownLabel, .pullUpLabel {
    width: 100%;
    clear: both;
    height: 30px;
    text-align: center;
    position: relative;

    >div{
    	width: 10px;
	    height: 10px;
	    background-color: #ff5d38;
	    border-radius: 100%;
	    display: inline-block;
	    animation: bouncedelay 1.4s infinite ease-in-out;
	    animation-fill-mode: both;
	    margin-top: 10px;
    }
    .bounce1{
    	animation-delay: -.3s;
    }
    .bounce2{
    	animation-delay: -.2s;
    }
    .bounce3{
    	animation-delay: -.1s;
    }
}
.pullUpLabel{
	display: none;
}
.hp44p{
    height: 44px;
}
.job-item{
    background-color: #f0f0f0;
}
.job-item.active{
    color: #fff;
    background-color: #ff5d38;
}
@keyframes rorateAnimate{
    from { transform: rotateZ(0deg) }
    to { transform: rotateZ(360deg) }
}
.job-find-icon{
    z-index: 100;
}
%pos-fixed-bottom{
    width:60px;
    position: fixed;
    bottom: 94px;
    z-index: 90;
}
.add-two{
    left: 50%;
    margin-left: -30px;
}
.add-three{
    right: 50%;
    margin-right: -30px;
}
.add-two, .add-three{
    @extend %pos-fixed-bottom;
    opacity: 0;
}
.add-two{
    transition: left 0.2s, margin-left 0.2s, opacity 0.2s;
}
.add-three{
    transition: right 0.2s, margin-right 0.2s, opacity 0.2s;
}
.job-list-get-cancel, .add-two.active{
    left: 0;
    margin-left: 56px;
}
.add-two.active{
    opacity: 1;
    animation: rorateAnimate 4s linear infinite;
}
.job-list-get, .add-three.active{
    right: 0;
    margin-right: 56px;
}
.add-three.active{
    opacity: 1;
}
.job-list-get, .job-list-get-cancel{
    @extend %pos-fixed-bottom;
}
%pos-fixed-wrap{
    position: fixed;
    width: 100%;
    bottom: 49px;
}
.job-list-cont2{
    @extend %pos-fixed-wrap;
    top: 0;
    z-index: 110;
}
.avatar-wrap{
    width: 88px;
    height: 128px;
    margin: 0 auto;

    .avatar{
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
    }
}

.acecu-avatar-div{
    position: absolute;
    right: 28px;
    width: 44px;
    height: 44px;
    top: 8.5px;
    overflow: hidden;
    border-radius: 50%;
}
.acecu-avatar-div img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.center-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.center-img {
    max-width: none !important;
    max-height: none !important;
}
.center-img1{
    max-width: none !important;
    max-height: none !important;
}
.right-left-cont-btn-wrap {
    padding: 30px 15px;
}

.right-left-cont-btn-wrap {
    padding: 30px 15px;
}

.right-left-cont-btn-wrap input {
    width: 100%;
    line-height: 40px;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    background-color: #ff5d38!important;
}
.captcha-btn{
    background-color: #ff5d38 !important;
}
.register-wrap{
    width: 100%;
    padding: 35px 10px 22px 10px;
}
.reg-item{
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    position: relative;
}
.reg-item .reg-input{
    position: absolute;
    left: 0;
    line-height: 40px;
    color: #595959;
    right: 10px;
    width: 100%;
    font-size: 13px;
    padding-right: 10px;
    background: transparent;
}

.reg-item-user{
    background: url(../images/username-icon.png?__inline) no-repeat 10px center;
}
.reg-item-captcha{
    background: url(../images/sjyzm-icon.png?__inline) no-repeat 10px center;
    padding-right: 85px;
}

.reg-item-captcha .captcha-btn{
    position: absolute;
    width: 75px;
    height: 30px;
    top: 5px;
    right: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #ff5d38;
    border-radius: 3px;
}
.reg-item-captcha .captcha-btn[disabled]{
    background-color: #ddd;
}

.reg-item-password{
    background: url(../images/password-icon.png?__inline) no-repeat 10px center;
}
.reg-btn-wrap{
    padding: 0 10px;
}
.reg-b-tip{
    font-size: 12px;
    padding: 10px 22px;
}
.reg-b-tip .reg-bl-tip{
    color: #ff5d38;
    float: left;
}
.reg-b-tip .reg-br-tip{
    color: #bbb;
    float: right;
}
.b-b-e9{border-bottom: 1px solid #e9e9e9;}
.special-button{
    padding: 13px 10px 16px;
    width: 100%;
}
.special-button input{
    line-height: 40px;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    background-color: #ff5d38;
}
.user-top{
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 0;
}
.user-top .user-wrap{
    width: 65px;
    height: 65px;
    margin: 46px auto 20px;
    border-radius: 50%;
    overflow: hidden;
}
.user-top .user-avatar{
    width: 100%;
    height: 100%;
}
.user-top .user-txt{
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.item-error {
    height: 100%;
    line-height: 74px;
    font-size: 14px;
    color: #595959;
    text-align: center;
    position: relative;
    top: 3.5rem;
}
.list-item-default-arrow {
    background: #fff;
    height: 50px;
    line-height: 50px;
    position: relative;
    padding-right: 10px;
    padding-left: 44px;
    font-size: 15px;
    color: #1d1d1d;
    border-bottom: 1px solid #ededed;
}
 .list-item-default-arrow .st-jt {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 20px;
    background: url(../images/xyjt.png?__inline) no-repeat;
    background-size: 8px 15px;
    background-position: left center;
}
.list-item-default-arrow .default-icon-wrap {
    position: absolute;
    width: 34px;
    height: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

.list-item-default-arrow .fwrx-icon {
    background-image: url(../images/fwrx-icon.png?__inline);
}
.fs08rem{
	font-size: .8rem;
}
.write-progress-wrap {
    height: 4px;
    display: none;
}

.write-progress-up {
    height: 4px;
    background: #ffa200;
    width: 0;
}

.pt19 {
    padding-top: 19px;
}
.lh1_4{
    line-height: 1.4;
}
*, :after, :before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}