.red{color:#ff5d38;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs30{font-size:30px;}
.lh30{line-height: 30px;}
.lh44{line-height: 44px;}
.hig49{height:49px;}
.hig44{height:44px;}
.hig80{height:80px;}
.hig130{height:130px;}
.hig140{height:140px;}
.ba{background-color:#ffffff;}
.bc{background-color:#f0f0f0;}
.lh200{line-height:200%;}
.coc{color:#cccccc;}
.co9{color:#999999;}
.co6{color:#666666;}
.white{color:#ffffff;}
.ptb14{padding-top:14px;padding-bottom:14px;}
.ptb18{padding-top:18px;padding-bottom:18px;}
.bb{border-bottom:0.5px solid #eeeeee;}
.b-b{border-top:0.5px solid #dedede;}
.lh50{line-height:50px;}
.p-a{position:absolute;}
.p-r{position:relative;}
.pt4{padding-top:4px;}
.pt5{padding-top:5px;}
.pb2{padding-bottom:2px;}
.xxx:after{
	display: inline-block;
	width:0;
	height:100%;
	vertical-align:middle;
	content: "";
}
.black{color:#000000;}
.but{line-height:40px;background-color:#ff5d38;color:#ffffff;border-radius:6px;}
.more{width:8px; position: absolute;right: 10px;top: 50%;margin-top: -7.5px;}
.over-hide{ overflow: hidden;}
.z_99{ z-index: 99;}
.z_999{ z-index: 999;}

/*首页*/
.icon{height:20px;}
.re-turn{background:url(../images/%E6%AF%8F%E6%97%A5%E7%AD%BE%E5%88%B0%EF%BC%8D%E8%BF%94%E5%9B%9E@2x.png) no-repeat 10px center;background-size:9px;}
.city{left: 15px;}
.banner{height:175px;}
@media only screen and (max-width: 320px) {
	.banner{height:150px;}
}
.icon-two{height:28px;}
.news{height:80px;width:80px;}
.news-box{left: 0;padding-left:110px;width: 100%;}
.news-time{position: absolute;bottom: 15px;}
.ptb7{padding-top:7px;padding-bottom:7px;}

/*账号安全*/
.head-img{width:44px;position: absolute;right: 28px;top: 50%;margin-top: -22px;}
.lh60{line-height:60px;}
.coc{color:#cccccc;}
.co9{color:#999999;}
.co6{color:#666666;}
.wid{width:90px;}
.pl80{padding-left:80px;}


/*我的积分*/
.point{ width:100% ; color:#ffffff; background:url(../images/%E8%83%8C%E6%99%AF%E5%9B%BE%E7%89%87@2x.png) no-repeat center;  }
.hig54{height:54px;}
.lh54{line-height:54px;}
.yellow{color:#ffcc00;}
.integral-wrapper{top: 50px;}


/*修改手机号码*/
.delete{width:20px; position: absolute;right: 10px;top: 50%;margin-top: -10px;}
.gain{width:75px;height:30px;background:#ff5d38;border-radius:3px;line-height: 30px;float: right;margin-top: 10px;
margin-right: 10px;color:#ffffff;}

/*需求大厅*/
.com-img{height:180px;}
.Then-live{width:80px;background-color:#ff5d38;color:#ffffff; border-radius:3px;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 12px;}
.Then-live0{width:80px;background-color:#fff;color:#ffffff; border-radius:3px;color: #ff5d38;
 right: 0;
 bottom: 0;
 margin-right: 15px;
 margin-bottom: 12px;}
.lh27{line-height:27px;}

#mallWrapper {
    position: absolute;
    z-index: 1;
    bottom: 48px;
    top: 2.9rem;
    right: 40px;
    left: 0;
    background: #fff;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
}
.orderNavBar{
	-webkit-tap-highlight-color:transparent;
}
#needMenu{
	-webkit-tap-highlight-color:transparent;
}
#scroller {
    position: absolute;
    z-index: 1;
    color: #333;
    left: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color:transparent;
    height: 100%;
    background-color: #fff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
}

#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 100%;
}

#scroller li {
    float: left;
    height: 100%;
    font-size: 1rem;
    padding: 0 14px;
}

#scroller li.current {
    border-bottom: 2px solid #f64444;
    color: #f64444;
}

#down {
    z-index: 99999;
}
#mlTable ul{
    overflow: hidden;
}
#mlTable ul li{
    float: left;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
}
#mlTable ul .active{

    background-color:  #f64444;


    color: white;
}

.mall-up-down {
    position: absolute;
    width: 40px;
    background-color: #fff;
    z-index: 10;
    text-align: center;
    height: 42px;
    border-left: 1px solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 0;
}
.mall-up-down.down-arrow {
    border-bottom: 1px solid #e6e6e6;
}

.up-arrow {
    background-image: url(../images/up-arrow.png);
    top: 2.9rem;
}

.down-arrow {
    background-image: url(../images/down-arrow.png);
    top: 2.9rem;
}
.mall-mask {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 800px;
    top: 100px;
    left: 0;
}
.ml-top-fl {
    line-height: 42px;
    position: absolute;
    top: 2.9rem;
    left: 0;
    background: #fff;
    z-index: 9999;
    width: 100%;
}


.ml-top-item li.current {
    color: #f64444;
}
#needList{
	position: relative;
	top: -1.7rem;
}
#allItem{
	position: absolute;
    z-index: 99999;
    top: 3.5rem;
    -webkit-tap-highlight-color:transparent;
    width: 100%;
}


/*开始找活*/
.add{width:80px;position: fixed;bottom: 94px;left: 50%;margin-left: -40px;}
.lh40{line-height:40px;}
.b-ad{border-radius:3px;}
.one{color:white;background:url(../images/%E6%B0%B4%E7%AE%A1-%E7%99%BD%E8%89%B2@2x.png) no-repeat left center;background-size:16px;;padding-left:26px;}
.back-red{background-color:#ff5d38;}
.two{color:white;background:url(../images/%E6%9A%96%E6%B0%94%E7%99%BD%E8%89%B2@2x.png) no-repeat left center;background-size:16px;;padding-left:26px;}
.three{color:white;background:url(../images/%E7%94%B5%E7%BA%BF%E7%99%BD%E8%89%B2@2x.png) no-repeat left center;background-size:16px;;padding-left:26px;}
.four{background:url(../images/%E7%81%AF%E5%85%B7%E7%81%B0%E8%89%B2@2x.png) no-repeat left center;background-size:16px;;padding-left:26px;}
.five{background:url(../images/%E6%B0%B4%E6%9A%96%E6%B0%94%E7%81%B0%E8%89%B2@2x.png) no-repeat left center;background-size:16px;;padding-left:26px;}
.six{background:url(../images/%E5%BC%80%E5%85%B3-%E7%81%B0%E8%89%B2@2x.png) no-repeat left center;background-size:16px;;padding-left:26px;}

/*开始找活2*/
.seven{background:url(../images/%E6%B0%B4%E7%94%B5%E5%85%A8%E5%8C%85@2x.png) no-repeat left center;background-size:16px;;padding-left:26px;}


/*我的订单*/
.order{border-bottom:2px  solid #ff5d38;}
.hig40{height:40px;}
.hig50{height:50px;}
.order-img{height:82px;width:100px;}
.hig120{height:120px;}
.ptb19{padding-top:19px;padding-bottom:19px;}
.order-box{left: 0;padding-left:130px;width: 100%;}
.order-price{position: absolute;bottom: 12px;}
.pt14{padding-top:14px;}

/*经销商信息*/
.shop{width:50px;height:50px;}
.hig90{height:90px;}
.lh90{line-height:90px;}
.adr{    left: 0;padding-left: 95px}
.ic-on{height:30px;}
.ic{width:32px}
.ic-h{height:26px;}

/*我的*/
.want{background:url(../images/%E8%AE%A2%E5%8D%95@2x.png) no-repeat left center; background-size:15px;padding-left:25px;}
.car{background:url(../images/%E8%B4%AD%E7%89%A9%E8%BD%A6@2x.png) no-repeat left center; background-size:15px;padding-left:25px;}
.jifen{background:url(../images/%E7%A7%AF%E5%88%86@2x.png) no-repeat left center; background-size:15px;padding-left:25px;}
.xinxi{background:url(../images/%E4%B8%AA%E4%BA%BA%E4%BF%A1%E6%81%AF@2x.png) no-repeat left center; background-size:15px;padding-left:25px;}
.gengduo{background:url(../images/%E6%9B%B4%E3%80%82%E5%A4%9A@2x.png) no-repeat left center; background-size:15px;padding-left:25px;}

/*完善个人信息*/
.radioCur{background:url(../images/%E9%80%89.--%E4%B8%AD@2x.png) no-repeat left center;background-size:22px;padding-left:36px}
.radio{background:url(../images/_%E6%9C%AA@2x.png) no-repeat left center;background-size:22px;padding-left:36px}
.pl100{padding-left:100px;}
.pr24{padding-right:24px;}
.select{
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-left:150px;
	padding-right:30px;
	text-align:right;
	line-height: 50px;
	font-size: 14px;
	background-color: transparent;
	-webkit-appearance: none;
   -moz-appearance: none;
    appearance: none;
}
.select option{
	width: 100%;
	padding-left: 100px;
}
#address_div{
	width:100%;
	height: 100%;
	background-color:#fff;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

#address_div ul{
	width:94%;
	overflow: hidden;
	margin: 0 auto;
}

#address_div ul li{
	padding: 10px 20px;
	border-bottom:1px solid #ededed;
	list-style: none;
	font-size: 15px;
}
#address_div ul li samp{
	display: block;
	width: 8px;
	height: 12px;
	float: right;
	margin-top: 5px;
	background-image: url(../images/更多@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.addressTop{
	width: 100%;
	padding: 12px 0;
	font-size: 17px;
	background-color: #f5f5f5;
	color: #666;
	padding-left: 10px;
}
.addressTop samp{
	display: block;
	width: 10px;
	height: 15px;
	margin-top: 2px;
	margin-right: 7px;
	float: left;
	background-image: url(../images/每日签到－返回@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


/*投诉反馈*/
.text-h{height:130px;}
.a-rea{background-color:transparent;}
.pt8{padding-top:8px;}
.cancel{width:74px;height:32px;border:1px solid #ff5d38;border-radius:3px;right:15px;background-color: #fff;}
.pt9{padding-top:9px}



/*地址选择*/
.choo{width:20px;}

.hig90{height:90px;}

/*地址新增*/
.pl100{padding-left:100px;}
.mt120{margin-top:120px;}

/*购物车*/
.cart-radio{ width: 20px;height: 20px; border-radius: 50%;overflow: hidden;position: absolute ; top: 50% ; z-index: 99; margin-top: -10px; left:15px; border: 1px solid #999;}
.cart-radio.on{background: url(../images/接单.png) no-repeat center; background-size: cover;border: 1px solid #ff5d38;}
.cart-radio img{ width: 100%}
.cart-wrap .order-img{padding-left: 30px;width: 130px;}
.cart-wrap .order-box{padding-left: 155px;padding-right: 50px;}
.cart-wrap .order-tit{white-space: nowrap; text-overflow: ellipsis;overflow: hidden;}
.cart-wrap .order-price{ bottom: 18px; color: #FF5D38;}
.cart-remove{width: 20px;height: 20px;position: absolute ; right: 15px; top: 18px; z-index: 99;}
.cart-remove img{ width: 100%}
.cart-btnWrap{
    width: 100px;
    height: 25px;
    position: absolute;
    bottom: 18px;
    right: 15px;
}
.cart-num{
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	color: #999;
	text-align: center;
	padding: 0 28px;
}
.cart-btn{
	width: 25px;
	height:25px;
	position: absolute;
	top: 0;
	background-size: cover;
}
.cart-sub{
	left: 0;
	background-image: url(../images/_--不能点击@2x.png);
}
.cart-sub.on{
	background-image: url(../images/_@2x.png);
}
.cart-add{
	right: 0;
	background-image: url(../images/+@2x.png);
}
.cart-bottom{
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 5px 15px;
}
.cart-money{
	line-height: 40px;
	padding-right: 15px;
}
.cart-money p{
	font-size: 15px;
	color: #FF5D38;
}
.cart-btnSettlement {
	width: 90px;
	height: 40px;
	line-height: 40px;
	background-color: #FF5D38;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
}
.ui-dialog-footer button.ui-dialog-autofocus {
	outline: none !important;
    background-color: #FF5D38 !important;
    border-color: #FF5D38 !important;
}
.demandNote{
	overflow: hidden;
	padding: 10px;
	background-color: #fff;
	border-top: 1px solid #ededed;
}
#uploadContainer{
	overflow: hidden;
	padding: 10px;
	background-color: #fff;
}
#uploadContainer input[type="file"]{
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 0px;
    width: 50%;
    height: 5%;
    z-index: 3;
}
.picBtn{
	width: 80px;
    background-color: #ff5d38;
    color: #ffffff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 12px;
}
#chatAudio{
	width: 0;
	height: 0;
	overflow: hidden;
	background: transparent;
}

.user-info-address{
	width: 100%;
    position: absolute;
    padding-left: 3.4em;
    box-sizing: border-box;
    left: 0;
}


/*每日签到*/
/*.re-turn{background:url(../images/%E6%AF%8F%E6%97%A5%E7%AD%BE%E5%88%B0%EF%BC%8D%E8%BF%94%E5%9B%9E@2x.png) no-repeat 10px center;background-size:9px;}*/
.sign-in{background:url(../images/signBg.png) no-repeat center;height:430px;background-size:100%;}
.sky-y{color:#ffa902;}
.all-sky{position: absolute;left: 50%;top: 20%; margin-left: -30px}
.plr110{padding:0 110px;}
.qiandao{line-height:44px;background:#ffa902;border-radius:44px;color:#ffffff;}
.a-qiandao{line-height:44px;background:#e6e6e6 !important;border-radius:44px;color:#ffffff;}
.user-sign-btn{
	width: 70px;
	height: 26px;
	margin-bottom: 30px;
	border-radius: 6px;
	color: #fff;
	background: #FF5D38;
}

@media only screen and (max-width: 640px) {
	.sign-in{ height: 630px;}
}
@media only screen and (max-width: 580px) {
	.sign-in{ height: 580px;}
}
@media only screen and (max-width: 480px) {
	.sign-in{ height: 530px;}
}
@media only screen and (max-width: 400px) {
	.sign-in{ height: 420px;}
}
@media only screen and (max-width: 330px) {
	.sign-in{ height: 350px;}
}

/*订单详情*/
.order-close-wrap{
	position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
}
